*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/sonarlint
.DS_Store
/build
/captures
.externalNativeBuild

keystore\.jks

signing\.conf

Google Play Android Developer-f879e9689c0b\.json

app/google-services\.json

fastlane/

*.json
app/libs/
app/src/main/res/layout-land/
app/src/main/res/values-pl-rPL/

buildSrc/build/classes/

buildSrc/build/tmp/

buildSrc/build/libs/

buildSrc/build/kotlin-classes/

buildSrc/build/kotlin-build/

buildSrc/build/kotlin/
