<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="asvid.counter">
  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
    <activity
        android:name=".modules.main.MainActivity"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- WIDGETS -->
    <!-- Counter -->
    <activity
        android:name=".widget.CounterWidgetConfigurationActivity"
        android:windowSoftInputMode="stateAlwaysHidden" />

    <receiver
        android:name=".widget.CounterWidgetProvider"
        android:label="@string/counter_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/counter_appwidget_info" />
    </receiver>

    <!-- Date Counter -->
    <activity
        android:name=".widget.down_counter.DownCounterWidgetConfigurationActivity"
        android:windowSoftInputMode="stateAlwaysHidden" />

    <receiver
        android:name=".widget.down_counter.DownCounterWidgetProvider"
        android:label="@string/down_counter_widget_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/down_counter_appwidget_info" />
    </receiver>

    <!-- WIDGETS END -->

    <activity
        android:name=".modules.counter_details.CounterDetailsActivity"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".modules.widget_list.WidgetListActivity" />
    <activity android:name=".modules.app_info.AppInfoActivity" />
  </application>

</manifest>